.sin-scroll {
  margin-top: -80px;
  margin-bottom: -80px;
}

.image {
  width: 500px;
}

.bg-amarillo {
  background-color: rgb(255, 255, 146);
}

.bg-verde {
  background-color: rgb(169, 250, 169);
}

.bg-morado {
  background-color: rgb(229, 189, 229);
}
